<div class="container">
  <h1>Bem-vindo ao Projeto Final!</h1>
  <p>Explore os produtos, faça login ou crie sua conta.</p>

  <a href="/login" class="btn">Login</a>
  <a href="/perfil" class="btn">Perfil</a>
</div>